*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    padding: 3rem;
}

.photo-lib{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:1rem
}

#fetch-btn{
    margin:20px 20px 20px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: aqua;
    font-size: medium;
}

#heading{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}